/* accent color */

/* regular */
@sdsColorAccent: #cc0000;
/* highlighted - hover */
@sdsColorAccentHover: darken(@sdsColorAccent, 8.6%);
/* highlighted - active */
@sdsColorAccentActive: darken(@sdsColorAccent, 8.6%);
/* highlighted - focus */
@sdsColorAccentFocus: @sdsColorAccent;
/* highlighted - disabled */
@sdsColorAccentDisabled: #cc6060;

/* text colors */

/* on light (default) background */
@sdsColorText: #6d6d6d;
/* on disabled elements */
@sdsColorTextDisabled: #a0a0a0;
/* light variant */
@sdsColorTextLight: #404040;
/* placeholder text */
@sdsColorPlaceholder: #808080;
/* highlight text */
@sdsColorHighlightText: #000000;

/* on accent color background */
@sdsColorTextAccent: #ffffff;
/* on accent color background - hover */
@sdsColorTextAccentHover: @sdsColorTextAccent;
/* on accent color background - active */
@sdsColorTextAccentActive: @sdsColorTextAccent;
/* on accent color background - focus */
@sdsColorTextAccentFocus: @sdsColorTextAccent;
/* on accent color background - disabled */
@sdsColorTextAccentDisabled: darken(@sdsColorTextAccent, 12%);

/* background colors from darkest to lightest */

@sdsColorBg128: #808080;
@sdsColorBg160: #a0a0a0;
@sdsColorBg192: #c0c0c0;
@sdsColorBg224: #e0e0e0;
@sdsColorBg232: #e8e8e8;
@sdsColorBg240: #f0f0f0;
@sdsColorBg248: #f8f8f8;
@sdsColorBg255: #ffffff;

/* form colors */

/* border color for inputs, textareas, etc. */
@sdsColorFormBorder: #c0c0c0;
/* border color for disabled inputs, textareas, etc. */
@sdsColorFormBorderDisabled: lighten(@sdsColorFormBorder, 12.5%);

/* other global colors, derived local ones are with their respective components */

/* outline */
@sdsColorOutline: #80c0ff;
/* shadow */
@sdsColorShadow: #000000;
/* error */
@sdsColorError: #cc0000;
