/* hlavní barva */

/* v běžné podobě */
@szndsColorAccent: #cc0000;
/* zvýrazněná varianta - hover */
@szndsColorAccentHover: darken(@szndsColorAccent, 8.6%);
/* zvýrazněná varianta - active */
@szndsColorAccentActive: darken(@szndsColorAccent, 8.6%);
/* zvýrazněná varianta - focus */
@szndsColorAccentFocus: @szndsColorAccent;
/* zvýrazněná varianta - disabled */
@szndsColorAccentDisabled: #cc6060;

/* barvy textu */

/* na světlém (běžném) pozadí */
@szndsColorText: #000000;
/* u disablovaných prvků */
@szndsColorTextDisabled: lighten(@szndsColorText, 62.6%);
/* světlejší varianta */
@szndsColorTextLight: #404040;
/* placeholder */
@szndsColorPlaceholder: #808080;

/* na hlavní barvě */
@szndsColorTextAccent: #ffffff;
/* na hlavní barvě zvýrazněná varianta - hover */
@szndsColorTextAccentHover: @szndsColorTextAccent;
/* na hlavní barvě zvýrazněná varianta - active */
@szndsColorTextAccentActive: @szndsColorTextAccent;
/* na hlavní barvě zvýrazněná varianta - focus */
@szndsColorTextAccentFocus: @szndsColorTextAccent;
/* na hlavní barvě zvýrazněná varianta - disabled */
@szndsColorTextAccentDisabled: darken(@szndsColorTextAccent, 12%);

/* barvy pozadí od nejtmavší po nejsvětlejší */
/* TODO: lépe specifikovat jejich účel a tedy možná přejmenovat z konkrétních barev na název evokující ten účel */

@szndsColorBg128: #808080;
@szndsColorBg160: #a0a0a0;
@szndsColorBg192: #c0c0c0;
@szndsColorBg224: #e0e0e0;
@szndsColorBg232: #e8e8e8;
@szndsColorBg240: #f0f0f0;
@szndsColorBg248: #f8f8f8;
@szndsColorBg255: #ffffff;

/* další globální barvy, odvozené lokální jsou u příslušných komponent */

/* outline */
@szndsColorOutline: #80c0ff;
/* stín */
@szndsColorShadow: #000000;
/* chyba */
@szndsColorError: #cc0000;
