@import "../common/colors.less";
@import "../common/global-constants.less";

.sammas-button {
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	height: unit(48 / 16, rem);
	max-width: 100%;
	font-weight: bold;
	padding: 0 unit((12 - (2 * @sammasBorderWidth)) / 16, rem);
	user-select: none;
	position: relative;

	& > * {
		/* no contents of a button should get its own clicks etc. */
		pointer-events: none;
		/* rules for IE11 that prevent the 1px movement of contents while button is active */
		position: relative;
		top: 0;
		left: 0;
	}

	.sammas-icon {
		color: lighten(@sammasColorText, 62.6%);
		width: unit(24 / 16, rem);
		height: unit(24 / 16, rem);
	}

	&.sammas-surface--disabled {
		.sammas-icon {
			color: lighten(@sammasColorTextDisabled, 12.5%);
		}
	}

	&::-moz-focus-inner {
		border: 0;
	}
}

.sammas-button__text {
	margin: 0 unit(12 / 16, rem);
}

.sammas-button--small {
	height: unit(40 / 16, rem);
	font-weight: bold;
	padding: 0 unit((8 - (2 * @sammasBorderWidth)) / 16, rem);

	.sammas-button__text {
		margin: 0 unit(8 / 16, rem);
	}

	.sammas-icon:not(:only-child):first-child {
		margin: 0 unit(4 / 16, rem);
	}
}

.sammas-button--xsmall {
	height: unit(32 / 16, rem);
	font-weight: normal;
	padding: 0 unit((6 - (2 * @sammasBorderWidth)) / 16, rem);

	.sammas-button__text {
		margin: 0 unit(6 / 16, rem);
	}

	.sammas-icon:not(:only-child):first-child {
		margin: 0 unit(4 / 16, rem);
	}

	.sammas-icon {
		width: unit(20 / 16, rem);
		height: unit(20 / 16, rem);
	}
}

/* Button-specific changes to Surface rules - maybe there is a better way of doing this */

.sammas-button {
	&.sammas-surface--00, &.sammas-surface--01 {
		font-weight: normal;
	}
}

/* Button-specific changes to Spinner rules - maybe there is a better way of doing this */

.sammas-button.sammas-button--loading {
	color: @sammasColorAccent;

	& > :not(.sammas-spinner) {
		opacity: 0;
	}

	& > .sammas-spinner {
		position: absolute;
		left: calc(50% - 0.75em);
		top: calc(50% - 0.75em);
	}
}

/* a primary Button largely ignores the Surface rules, unfortunatelly */

@shadowButtonPrimary: 0 unit(8 / 16, rem) unit(24 / 16, rem) unit(-8 / 16, rem) fade(@sammasColorAccent, 40%);
@shadowButtonPrimaryHover: 0 unit(12 / 16, rem) unit(24 / 16, rem) unit(-6 / 16, rem) fade(@sammasColorAccent, 60%);

.sammas-button--primary {
	background: @sammasColorAccent;
	color: @sammasColorTextAccent;
	box-shadow: @shadowButtonPrimary;

	.sammas-icon {
		color: currentColor;
	}

	&.sammas-surface--clickable {
		&:hover {
			background: @sammasColorAccentHover;
			color: @sammasColorTextAccentHover;
			box-shadow: @shadowButtonPrimaryHover;
		}

		&:focus {
			background: @sammasColorAccentFocus;
			color: @sammasColorTextAccentFocus;
			box-shadow: @shadowButtonPrimary, @sammasShadowOutline;
		}

		&:hover:focus:not(:active) {
			background: @sammasColorAccentHover;
			color: @sammasColorTextAccentHover;
			box-shadow: @shadowButtonPrimaryHover, @sammasShadowOutline;
		}

		&:active {
			background: @sammasColorAccentActive;
			color: @sammasColorTextAccentActive;
			box-shadow: none;
		}
	}

	&.sammas-surface--disabled {
		background: @sammasColorAccentDisabled;
		color: @sammasColorTextAccentDisabled;
		box-shadow: 0 unit(8 / 16, rem) unit(24 / 16, rem) unit(-8 / 16, rem) fade(@sammasColorAccent, 40%);
	}
}
