.sds-icon {
	display: inline-block;

	svg {
		width: 100%;
		height: 100%;
		fill: currentColor;
		display: block;
	}
}

.sds-icon--8 {
	width: unit(8 / 16, rem);
	height: unit(8 / 16, rem);
}

.sds-icon--16 {
	width: unit(16 / 16, rem);
	height: unit(16 / 16, rem);
}

.sds-icon--24 {
	width: unit(24 / 16, rem);
	height: unit(24 / 16, rem);
}

.sds-icon--32 {
	width: unit(32 / 16, rem);
	height: unit(32 / 16, rem);
}
