@import "../common/colors.less";

.sds-input {
	display: inline-flex;
	padding: 0;
	color: @sdsColorTextDisabled;

	input {
		height: unit(46 / 16, rem);
		padding: unit(11 / 16, rem);
		border: 0;
		background: transparent;
		outline: 0;
		box-sizing: border-box;
		color: @sdsColorText;
		order: 2;
	}

	&.sds-input_icon-left {
		input {
			padding-left: 0;
		}
	}

	&.sds-input_icon-right {
		input {
			padding-right: 0;
		}
	}

	.sds-input__sds-icon_left {
		order: 1;
	}

	.sds-input__sds-icon_right {
		order: 3;
	}

	.sds-icon {
		padding: unit(11 / 16, rem);
		color: currentColor;
		display: flex;
	}

	button {
		border: none;
		background: transparent;
		outline: none;
		margin: 0;
		padding: 0;
		cursor: pointer;
		color: @sdsColorTextDisabled;
		width: unit(46 / 16, rem);
		height: unit(46 / 16, rem);
		transition: @sdsColorTransition;

		&:hover, &:active, &:focus {
			color: darken(@sdsColorTextDisabled, 23.5%);
		}
	}
}
