@import "../common/colors.less";

.sammas-labelwrapper {
	display: inline-flex;
	flex-direction: column;
	vertical-align: middle;

	& > label {
		display: flex;
	}
}

.sammas-labelwrapper__description {
	min-height: unit(32 / 16, rem);
	margin: unit(4 / 16, rem) 0 0 0;
	color: @sammasColorPlaceholder;
}

.sammas-labelwrapper--column {
	& > label {
		flex-direction: column;

		& > span {
			height: unit(22 / 16, rem);

			& + * {
				margin-top: unit(6 / 16, rem);
			}
		}
	}
}

.sammas-labelwrapper--row {
	& > label {
		flex-direction: row;

		& > span {
			margin: unit(12 / 16, rem) unit(12 / 16, rem) unit(12 / 16, rem) 0;
		}
	}
}

.sammas-labelwrapper_error {
	.sammas-labelwrapper__description {
		color: @sammasColorError;
	}
}
