@import "../common/colors.less";
@import "../common/global-constants.less";

/* properties common to all surfaces */

.sds-surface {
	position: relative;
	border-radius: unit(4 / 16, rem);
	border: 0;
	box-sizing: border-box;
	transition: @sdsOutlineTransition;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none; /* we do our own outline so the system one needs to go */
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border: unit(@sdsBorderWidth / 16, rem) solid transparent; /* because of high contrast mode there has to be a border even though it is not visualised */
		border-radius: unit(4 / 16, rem);
		user-select: none;
	}
}

.sds-surface--sharp {
	border-radius: 0;
}

.sds-surface--clickable {
	cursor: pointer;
}

/* surface 00 - invisible */

.sds-surface--00,
.sds-surface--00.sds-surface--clickable:hover {
	background: transparent;
	color: @sdsColorText;
	box-shadow: none;
}

.sds-surface--00.sds-surface--clickable:focus {
	box-shadow: @sdsShadowOutline;
}

.sds-surface--00.sds-surface--clickable:active {
	box-shadow: none;
}

/* surface 01 */

.sds-surface--01 {
	background: transparent;
	color: @sdsColorText;
	box-shadow: none;

	&:before {
		border-color: @sdsColorBg224;
	}

	&.sds-surface--clickable {
		&:hover:before {
			border-color: @sdsColorBg192;
		}

		&:focus {
			box-shadow: @sdsShadowOutline;
		}

		&:active {
			&:before {
				border-color: @sdsColorBg160;
			}

			box-shadow: none;
		}
	}
/*
	&.sds-surface--disabled {
		border-color: @sdsColorBg224;
	}
*/
}

/* surface 02 */

@shadowSurface02Hover: 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sdsColorShadow, 10%), 0 unit(2 / 16, rem) unit(8 / 16, rem) 0 fade(@sdsColorShadow, 5%);

.sds-surface--02 {
	background: @sdsColorBg255;
	color: @sdsColorText;
	box-shadow: none;

	&.sds-surface--clickable {
		&:hover {
			box-shadow: @shadowSurface02Hover;
		}

		&:focus {
			box-shadow: @sdsShadowOutline;
		}

		&:hover:focus:not(:active) {
			box-shadow: @sdsShadowOutline, @shadowSurface02Hover;
		}

		&:active {
			box-shadow: 0 unit(1 / 16, rem) unit(1 / 16, rem) 0 fade(@sdsColorShadow, 25%), 0 unit(1 / 16, rem) unit(2 / 16, rem) 0 fade(@sdsColorShadow, 10%);
		}
	}

	&.sds-surface--disabled {
		box-shadow: none;
	}
}

/* surface 03 */

@shadowSurface03: 0 0 unit(1 / 16, rem) 0 fade(@sdsColorShadow, 25%);
@shadowSurface03Hover: 0 0 unit(1 / 16, rem) 0 fade(@sdsColorShadow, 35%), 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sdsColorShadow, 10%), 0 unit(2 / 16, rem) unit(8 / 16, rem) 0 fade(@sdsColorShadow, 5%);

.sds-surface--03 {
	background: @sdsColorBg255;
	color: @sdsColorText;
	box-shadow: @shadowSurface03;

	&.sds-surface--clickable {
		&:hover {
			box-shadow: @shadowSurface03Hover;
		}

		&:focus {
			box-shadow: @sdsShadowOutline, @shadowSurface03;
		}

		&:hover:focus:not(:active) {
			box-shadow: @sdsShadowOutline, @shadowSurface03Hover;
		}

		&:active {
			box-shadow: 0 0 unit(1 / 16, rem) 0 fade(@sdsColorShadow, 50%), 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sdsColorShadow, 30%);
		}
	}

	&.sds-surface--disabled {
		box-shadow: 0 0 unit(1 / 16, rem) 0 fade(@sdsColorShadow, 25%);
	}
}

/* surface 04 */

@shadowSurface04: 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sdsColorShadow, 10%), 0 unit(16 / 16, rem) unit(24 / 16, rem) unit(-16 / 16, rem) fade(@sdsColorShadow, 10%);
@shadowSurface04Hover: 0 unit(1 / 16, rem) unit(6 / 16, rem) 0 fade(@sdsColorShadow, 20%), 0 unit(16 / 16, rem) unit(32 / 16, rem) unit(-16 / 16, rem) fade(@sdsColorShadow, 30%);

.sds-surface--04 {
	background: @sdsColorBg255;
	color: @sdsColorText;
	box-shadow: @shadowSurface04;

	&.sds-surface--clickable {
		&:hover {
			box-shadow: @shadowSurface04Hover;
		}

		&:focus {
			box-shadow: @sdsShadowOutline, @shadowSurface04;
		}

		&:hover:focus:not(:active) {
			box-shadow: @sdsShadowOutline, @shadowSurface04Hover;
		}

		&:active {
			box-shadow: 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sdsColorShadow, 20%), 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sdsColorShadow, 30%);
		}
	}

	&.sds-surface--disabled {
		box-shadow: 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sdsColorShadow, 10%), 0 unit(16 / 16, rem) unit(24 / 16, rem) unit(-16 / 16, rem) fade(@sdsColorShadow, 10%);
	}
}

/* surface 05 */

@shadowSurface05: 0 0 unit(1 / 16, rem) 0 fade(@sdsColorShadow, 20%), 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sdsColorShadow, 20%), 0 unit(16 / 16, rem) unit(24 / 16, rem) unit(-16 / 16, rem) fade(@sdsColorShadow, 30%);
@shadowSurface05Hover: 0 0 unit(1 / 16, rem) 0 fade(@sdsColorShadow, 30%), 0 unit(1 / 16, rem) unit(6 / 16, rem) 0 fade(@sdsColorShadow, 30%), 0 unit(16 / 16, rem) unit(32 / 16, rem) unit(-16 / 16, rem) fade(@sdsColorShadow, 50%);

.sds-surface--05 {
	background: @sdsColorBg255;
	color: @sdsColorText;
	box-shadow: @shadowSurface05;

	&.sds-surface--clickable {
		&:hover {
			box-shadow: @shadowSurface05Hover;
		}

		&:focus {
			box-shadow: @sdsShadowOutline, @shadowSurface05;
		}

		&:hover:focus:not(:active) {
			box-shadow: @sdsShadowOutline, @shadowSurface05Hover;
		}

		&:active {
			box-shadow: 0 0 unit(1 / 16, rem) 0 fade(@sdsColorShadow, 30%), 0 unit(1 / 16, rem) unit(6 / 16, rem) 0 fade(@sdsColorShadow, 30%), 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sdsColorShadow, 50%);
		}
	}

	&.sds-surface--disabled {
		box-shadow: 0 0 unit(1 / 16, rem) 0 fade(@sdsColorShadow, 20%), 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sdsColorShadow, 20%), 0 unit(16 / 16, rem) unit(24 / 16, rem) unit(-16 / 16, rem) fade(@sdsColorShadow, 30%);
	}
}

.sds-surface--disabled {
	cursor: default;
	color: @sdsColorTextDisabled;
}

/* surface primary */

@shadowSurfacePrimary: 0 unit(8 / 16, rem) unit(24 / 16, rem) unit(-8 / 16, rem) fade(@sdsColorAccent, 40%);
@shadowSurfacePrimaryHover: 0 unit(12 / 16, rem) unit(24 / 16, rem) unit(-6 / 16, rem) fade(@sdsColorAccent, 60%);

.sds-surface--primary {
	background: @sdsColorAccent;
	color: @sdsColorTextAccent;
	box-shadow: @shadowSurfacePrimary;

	&.sds-surface--clickable {
		&:hover {
			background: @sdsColorAccentHover;
			color: @sdsColorTextAccentHover;
			box-shadow: @shadowSurfacePrimaryHover;
		}

		&:focus {
			background: @sdsColorAccentFocus;
			color: @sdsColorTextAccentFocus;
			box-shadow: @shadowSurfacePrimary, @sdsShadowOutline;
		}

		&:hover:focus:not(:active) {
			background: @sdsColorAccentHover;
			color: @sdsColorTextAccentHover;
			box-shadow: @shadowSurfacePrimaryHover, @sdsShadowOutline;
		}

		&:active {
			background: @sdsColorAccentActive;
			color: @sdsColorTextAccentActive;
			box-shadow: none;
		}
	}

	&.sds-surface--disabled {
		background: @sdsColorAccentDisabled;
		color: @sdsColorTextAccentDisabled;
		box-shadow: 0 unit(8 / 16, rem) unit(24 / 16, rem) unit(-8 / 16, rem) fade(@sdsColorAccent, 40%);
	}
}
