@import "../common/colors.less";
@import "../common/global-constants.less";

/* properties common to all surfaces */

.sammas-surface {
	position: relative;
	border-radius: unit(4 / 16, rem);
	border: 0;
	box-sizing: border-box;
	transition: @sammasOutlineTransition;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none; /* we do our own outline so the system one needs to go */
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border: unit(@sammasBorderWidth / 16, rem) solid transparent; /* because of high contrast mode there has to be a border even though it is not visualised */
		border-radius: unit(4 / 16, rem);
	}
}

.sammas-surface--sharp {
	border-radius: 0;
}

.sammas-surface--clickable {
	cursor: pointer;
}

/* surface 00 - invisible */

.sammas-surface--00,
.sammas-surface--00.sammas-surface--clickable:hover {
	background: transparent;
	color: @sammasColorText;
	box-shadow: none;
}

.sammas-surface--00.sammas-surface--clickable:focus {
	box-shadow: @sammasShadowOutline;
}

.sammas-surface--00.sammas-surface--clickable:active {
	box-shadow: none;
}

/* surface 01 */

.sammas-surface--01 {
	background: transparent;
	color: @sammasColorText;
	box-shadow: none;

	&:before {
		border-color: @sammasColorBg224;
	}

	&.sammas-surface--clickable {
		&:hover:before {
			border-color: @sammasColorBg192;
		}

		&:focus {
			box-shadow: @sammasShadowOutline;
		}

		&:active {
			&:before {
				border-color: @sammasColorBg160;
			}

			box-shadow: none;
		}
	}
/*
	&.sammas-surface--disabled {
		border-color: @sammasColorBg224;
	}
*/
}

/* surface 02 */

@shadowSurface02Hover: 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sammasColorShadow, 10%), 0 unit(2 / 16, rem) unit(8 / 16, rem) 0 fade(@sammasColorShadow, 5%);

.sammas-surface--02 {
	background: @sammasColorBg255;
	color: @sammasColorText;
	box-shadow: none;

	&.sammas-surface--clickable {
		&:hover {
			box-shadow: @shadowSurface02Hover;
		}

		&:focus {
			box-shadow: @sammasShadowOutline;
		}

		&:hover:focus:not(:active) {
			box-shadow: @sammasShadowOutline, @shadowSurface02Hover;
		}

		&:active {
			box-shadow: 0 unit(1 / 16, rem) unit(1 / 16, rem) 0 fade(@sammasColorShadow, 25%), 0 unit(1 / 16, rem) unit(2 / 16, rem) 0 fade(@sammasColorShadow, 10%);
		}
	}

	&.sammas-surface--disabled {
		box-shadow: none;
	}
}

/* surface 03 */

@shadowSurface03: 0 0 unit(1 / 16, rem) 0 fade(@sammasColorShadow, 25%);
@shadowSurface03Hover: 0 0 unit(1 / 16, rem) 0 fade(@sammasColorShadow, 35%), 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sammasColorShadow, 10%), 0 unit(2 / 16, rem) unit(8 / 16, rem) 0 fade(@sammasColorShadow, 5%);

.sammas-surface--03 {
	background: @sammasColorBg255;
	color: @sammasColorText;
	box-shadow: @shadowSurface03;

	&.sammas-surface--clickable {
		&:hover {
			box-shadow: @shadowSurface03Hover;
		}

		&:focus {
			box-shadow: @sammasShadowOutline, @shadowSurface03;
		}

		&:hover:focus:not(:active) {
			box-shadow: @sammasShadowOutline, @shadowSurface03Hover;
		}

		&:active {
			box-shadow: 0 0 unit(1 / 16, rem) 0 fade(@sammasColorShadow, 50%), 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sammasColorShadow, 30%);
		}
	}

	&.sammas-surface--disabled {
		box-shadow: 0 0 unit(1 / 16, rem) 0 fade(@sammasColorShadow, 25%);
	}
}

/* surface 04 */

@shadowSurface04: 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sammasColorShadow, 10%), 0 unit(16 / 16, rem) unit(24 / 16, rem) unit(-16 / 16, rem) fade(@sammasColorShadow, 10%);
@shadowSurface04Hover: 0 unit(1 / 16, rem) unit(6 / 16, rem) 0 fade(@sammasColorShadow, 20%), 0 unit(16 / 16, rem) unit(32 / 16, rem) unit(-16 / 16, rem) fade(@sammasColorShadow, 30%);

.sammas-surface--04 {
	background: @sammasColorBg255;
	color: @sammasColorText;
	box-shadow: @shadowSurface04;

	&.sammas-surface--clickable {
		&:hover {
			box-shadow: @shadowSurface04Hover;
		}

		&:focus {
			box-shadow: @sammasShadowOutline, @shadowSurface04;
		}

		&:hover:focus:not(:active) {
			box-shadow: @sammasShadowOutline, @shadowSurface04Hover;
		}

		&:active {
			box-shadow: 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sammasColorShadow, 20%), 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sammasColorShadow, 30%);
		}
	}

	&.sammas-surface--disabled {
		box-shadow: 0 unit(1 / 16, rem) unit(3 / 16, rem) 0 fade(@sammasColorShadow, 10%), 0 unit(16 / 16, rem) unit(24 / 16, rem) unit(-16 / 16, rem) fade(@sammasColorShadow, 10%);
	}
}

/* surface 05 */

@shadowSurface05: 0 0 unit(1 / 16, rem) 0 fade(@sammasColorShadow, 20%), 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sammasColorShadow, 20%), 0 unit(16 / 16, rem) unit(24 / 16, rem) unit(-16 / 16, rem) fade(@sammasColorShadow, 30%);
@shadowSurface05Hover: 0 0 unit(1 / 16, rem) 0 fade(@sammasColorShadow, 30%), 0 unit(1 / 16, rem) unit(6 / 16, rem) 0 fade(@sammasColorShadow, 30%), 0 unit(16 / 16, rem) unit(32 / 16, rem) unit(-16 / 16, rem) fade(@sammasColorShadow, 50%);

.sammas-surface--05 {
	background: @sammasColorBg255;
	color: @sammasColorText;
	box-shadow: @shadowSurface05;

	&.sammas-surface--clickable {
		&:hover {
			box-shadow: @shadowSurface05Hover;
		}

		&:focus {
			box-shadow: @sammasShadowOutline, @shadowSurface05;
		}

		&:hover:focus:not(:active) {
			box-shadow: @sammasShadowOutline, @shadowSurface05Hover;
		}

		&:active {
			box-shadow: 0 0 unit(1 / 16, rem) 0 fade(@sammasColorShadow, 30%), 0 unit(1 / 16, rem) unit(6 / 16, rem) 0 fade(@sammasColorShadow, 30%), 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sammasColorShadow, 50%);
		}
	}

	&.sammas-surface--disabled {
		box-shadow: 0 0 unit(1 / 16, rem) 0 fade(@sammasColorShadow, 20%), 0 unit(1 / 16, rem) unit(4 / 16, rem) 0 fade(@sammasColorShadow, 20%), 0 unit(16 / 16, rem) unit(24 / 16, rem) unit(-16 / 16, rem) fade(@sammasColorShadow, 30%);
	}
}

.sammas-surface--disabled {
	cursor: default;
	color: @sammasColorTextDisabled;
}

/* surface primary */

@shadowSurfacePrimary: 0 unit(8 / 16, rem) unit(24 / 16, rem) unit(-8 / 16, rem) fade(@sammasColorAccent, 40%);
@shadowSurfacePrimaryHover: 0 unit(12 / 16, rem) unit(24 / 16, rem) unit(-6 / 16, rem) fade(@sammasColorAccent, 60%);

.sammas-surface--primary {
	background: @sammasColorAccent;
	color: @sammasColorTextAccent;
	box-shadow: @shadowSurfacePrimary;

	&.sammas-surface--clickable {
		&:hover {
			background: @sammasColorAccentHover;
			color: @sammasColorTextAccentHover;
			box-shadow: @shadowSurfacePrimaryHover;
		}

		&:focus {
			background: @sammasColorAccentFocus;
			color: @sammasColorTextAccentFocus;
			box-shadow: @shadowSurfacePrimary, @sammasShadowOutline;
		}

		&:hover:focus:not(:active) {
			background: @sammasColorAccentHover;
			color: @sammasColorTextAccentHover;
			box-shadow: @shadowSurfacePrimaryHover, @sammasShadowOutline;
		}

		&:active {
			background: @sammasColorAccentActive;
			color: @sammasColorTextAccentActive;
			box-shadow: none;
		}
	}

	&.sammas-surface--disabled {
		background: @sammasColorAccentDisabled;
		color: @sammasColorTextAccentDisabled;
		box-shadow: 0 unit(8 / 16, rem) unit(24 / 16, rem) unit(-8 / 16, rem) fade(@sammasColorAccent, 40%);
	}
}
